.layout{
    display: flex;
    flex-direction: column;   
}

.cabecalho h1{
    margin: 0;
    font-size: 1.4em;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.cabecalho a{
    background-color: crimson;
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #eee;
    opacity: 0.9;
}

.cabecalho a:hover{
    opacity: 1;
}